@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: clamp(35px, 12vw, 75px);
  overflow: hidden;
}
.metric {
  width: 75%;
  height: clamp(120px, 40vw, 150px);
  border-radius: 150px 150px 0 0;
  position: relative;
}

.arrow {
  position: absolute;
  width: 4px;
  height: clamp(90px, 40vw, 140px);
  bottom: 0;
  right: 50%;
  transform: translateX(50%) rotate(-90deg);
  transform-origin: bottom center;
  background-color: #ff0000;
  transition: transform 0.35s ease;
  border-radius: 50px;
  z-index: 1;
}

.scale {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tick {
  position: absolute;
  width: 2px;
  height: 18px;
  background: #000;
  right: 50%;
  bottom: 0;
  transform: translate(50%) rotate(var(--angle))
    translateY(clamp(-130px, -35vw, -50px));
  transform-origin: bottom center;
}
.tick-mini {
  width: 2px;
  height: 8px;
}

.hearts {
  position: absolute;
  width: 100%;
  height: 100%;
}

.heart {
  position: absolute;
  width: clamp(20px, 11vw, 45px);
  height: clamp(20px, 11vw, 45px);
  right: 50%;
  bottom: 0;
  transform: translateX(50%) rotate(var(--angle))
    translateY(clamp(-175px, -44vw, -55px));
  transform-origin: bottom center;
}
.heart-outline {
  fill: #bfbfbf;
  transition: fill 0.5s ease;
}
.heart-inside {
  transition: fill 1s ease;
}

.heart.filled .heart-outline,
.heart.filled .heart-inside {
  fill: red;
}
.heart.filled {
  animation: flying 1.5s ease-in-out infinite;
  filter: drop-shadow(0px 0px 12px rgba(255, 0, 0, 0.4));
}
.tip {
  font-size: clamp(16px, 6vw, 25px);
  text-align: center;
}

@keyframes flying {
  0% {
    translate: 0;
  }
  50% {
    translate: 0 30%;
  }
  100% {
    translate: 0;
  }
}
.input {
  width: 60%;
  accent-color: red;
}

.next-link {
  text-decoration: none;
  color: red;
  position: relative;
}

.next-link span {
  content: "";
  border-radius: 50px;
  width: 18px;
  height: 3px;
  position: absolute;
  background-color: red;
  top: 0;
  right: 0;
  animation: alternate appear-span 0.45s ease-in-out;
  transform-origin: right center;
}
.next-link span:first-child {
  width: 24px;
  transform: rotate(125deg);
}
.next-link span:nth-child(2) {
  transform: translate(-9px, -5px) rotate(90deg);
}
.next-link span:nth-child(3) {
  transform: translate(9px, 8px) rotate(160deg);
}
@keyframes appear-span {
  0% {
    opacity: 0.6;
    width: 0;
  }
  100% {
    opacity: 1;
  }
}
